table {
  border-collapse: collapse;
  margin: auto;
  }
  
  table, th, td {
	border: 2px solid #ffffff;
  }

  td{
	text-align: center;
    padding: 1px;
  }

  .text_color{
    color: #000000;
  }