/*========   location search css  =======*/

.geosuggest__suggests--hidden {
	max-height: 0;
	overflow: hidden;
	border-width: 0;
}
.geosuggest__suggests-wrapper{
	position: absolute;
	top: 47px;
	background: #3d474e;
	left: 0;
	right: 0;
	z-index: 1;
	.geosuggest__suggests {
		list-style: none;
		padding-left: 0;
		margin:0;
		li {
			padding: 4px 20px;
			cursor: pointer;
			&:hover {
				background: #eba820;
				color: #273238;
			}
			span {
				position: static;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				overflow: auto;
			}
		}
	}
}
/*===============*/

.cls-venue {
	.geosuggest__suggests--hidden {
		max-height: 0;
		overflow: hidden;
		border-width: 0;
	}
	.geosuggest__suggests-wrapper{
		position: absolute;
		top: 85px;
		background: #e9eaeb;
		left: 0;
		right: 0;
		z-index: 1;
		.geosuggest__suggests {
			list-style: none;
			padding-left: 0;
			margin:0;
			li {
				padding: 4px 20px;
				cursor: pointer;
				&:hover {
					background: #eba820;
					color: #fff;
				}
				span {
					position: static;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					overflow: auto;
				}
			}
		}
	}
	
}
